<style>
body{
   background-image: url('/assets/mouse_back.png');
   background-size:cover;
    
}
</style>


<div class="welcome">
<div class = 'static'>Create</div>
<ul class ="options">
   <li><span> Blogs</span></li>
   <li><span> Poems</span></li>
   <li><span> Essays</span></li>
   </ul>
</div>
<div class = "signup">


<%= form_with url: signin_path do |f| %>
    <%= link_to "Get started", signup_path %>
  <% end %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <section id="footer">
  <div>
    <h4>Contact</h4>
    <p>
      <a href="jonathan.yu@yale.edu"></a>Jonathan Yu<br>
      <a href="jonathan.yu@yale.edu"></a>Margaret Liu<br>
    </p>
  </div>
  
  <div>
    <h4>Address</h4>
    <p>
      P.O. Box 5555<br>
      Brooklyn, NY 11201<br>
    </p>
  </div>


  <div>
    <h4>Links</h4>
    <p>
      <a href="https://github.com/orangetangerin/Text-Editor/tree/poems" target="_blank">Github</a><br>
      <a href="#" target="_blank">Facebook</a><br>
    </p>
  </div>
  </section>