<style>
body{
   background-image: url('/assets/blue_back.jpeg');
   background-size:cover;
    
}
</style>

<section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">


                                   <h1 class="text-white">Create, Edit, and Collaborate on Text Files</h1>
                                    <div class="start">
                                       <%= link_to "Start Writing", signup_path %> 
                                    </div>
                                   <i class="d-block py-3 pl-5 text-white">© 2021 TextEditor</i>

                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image">

                            <img src="assets/working-girl.png" class="img-fluid">
                          </div>
                        </div>

                    </div>
               </div>
</section>
