<style>
body{
   background-image: url('/assets/mouse_back.png');
   background-size:cover;
    
}
</style>


<div class="welcome">
<div class = 'static'>Create</div>
<ul class ="options">
   <li><span> Blogs</span></li>
   <li><span> Poems</span></li>
   <li><span> Essays</span></li>
   </ul>
</div>
<div class = "signup">

<%= form_with url: signin_path do |f| %>
    <%= link_to "Get started", signup_path %>
  <% end %>
  </div>